%h2 Contributors
%ul
  %li
    Dr Nic -
    %a{ :href => 'http://github.com/drnic' } github
    \-
    %a{ :href => 'http://twitter.com/drnic' } @drnic
    \-
    %a{ :href => 'http://drnicwilliams.com' } drnicwilliams.com
  %li
    Ethan Vizitei -
    %a{ :href => 'http://github.com/evizitei' } github
    \-
    %a{ :href => 'http://twitter.com/ethanvizitei' } @ethanvizitei
    \-
    %a{ :href => 'http://blog.ethanvizitei.com' } ethanvizitei.com
    